@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 200;
  src:
    url('./IRANSansX-UltraLight.woff2') format('woff2'),
    url('./IRANSansX-UltraLight.woff') format('woff');
}

@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 300;
  src:
    url('./IRANSansX-Light.woff2') format('woff2'),
    url('./IRANSansX-Light.woff') format('woff');
}

@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 400;
  src:
    url('./IRANSansX-Regular.woff2') format('woff2'),
    url('./IRANSansX-Regular.woff') format('woff');
}

@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 500;
  src:
    url('./IRANSansX-Medium.woff2') format('woff2'),
    url('./IRANSansX-Medium.woff') format('woff');
}

/* DemiBold */
@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 600;
  src:
    url('./IRANSansX-DemiBold.woff2') format('woff2'),
    url('./IRANSansX-DemiBold.woff') format('woff');
}

/* Bold */
@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 700;
  src:
    url('./IRANSansX-Bold.woff2') format('woff2'),
    url('./IRANSansX-Bold.woff') format('woff');
}

@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 800;
  src:
    url('./IRANSansX-ExtraBold.woff2') format('woff2'),
    url('./IRANSansX-ExtraBold.woff') format('woff');
}

/* Black */
@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 900;
  src:
    url('./IRANSansX-Black.woff2') format('woff2'),
    url('./IRANSansX-Black.woff') format('woff');
}

.ss01 {
  font-feature-settings: 'ss01';
}

.ss03 {
  font-feature-settings: 'ss03';
}

.ss04 {
  font-feature-settings: 'ss04';
}

@font-face {
  font-family: 'Pinar';
  font-style: normal;
  font-weight: 400;
  src: url('./Pinar/Pinar-DS2-FD-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pinar';
  font-style: normal;
  font-weight: 500;
  src: url('./Pinar/Pinar-DS2-FD-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pinar';
  font-style: normal;
  font-weight: 600;
  src: url('./Pinar/Pinar-DS2-FD-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pinar';
  font-style: normal;
  font-weight: 700;
  src: url('./Pinar/Pinar-DS2-FD-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pinar';
  font-style: normal;
  font-weight: 800;
  src: url('./Pinar/Pinar-DS2-FD-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pinar';
  font-style: normal;
  font-weight: 900;
  src: url('./Pinar/Pinar-DS2-FD-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Yagut';
  font-style: normal;
  font-weight: 400;
  src: url('./yagut/yagut.ttf') format('truetype');
}

@font-face {
  font-family: 'Yagut';
  font-style: normal;
  font-weight: 700;
  src: url('./yagut/yagut-bold.ttf') format('truetype');
}
